DATABASE_URL=sqlite:///./recrutement_ia.db
SECRET_KEY=recrutement_ia_dschang_master_ia_2024_2025_cle_secrete_xyz789abc
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ADMIN_EMAIL=admin@recrut-ia.com
ADMIN_PASSWORD=ChoisisUnMotDePasseFort_2025!
ADMIN_NOM=Admin
ADMIN_PRENOM=Super